<a href="https://colab.research.google.com/github/yuliethsp/programacion1/blob/main/piton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CONTROL DE FLUJO EN PHYTON

In [ ]:
#series fibonnacci:
#la suma de dos elementos define el siguiente
a=0
b=1
while b < 100:
  print(b)
  a=b
  b=a+b  #valor de b si esta actualizado

1
2
4
8
16
32
64

en phyton tenemos la siguiente sutileza

In [ ]:
a=0
b=1
while b < 100:
  print(b)
  a, b = b, a+b  # El valor es de b, no esta actualizado

1
1
2
3
5
8
13
21
34
55
89

In [ ]:
a, b = 0, 1
for b in range(20):   # 6 repeticiones
  print(b)
  a, b = b, a+b

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
a, b = 0, 1
for b in [5, 8, 9]:
  print(b)
  a, b = b, a+b

5
8
9

In [ ]:
from re import X
x = int(input("ingresar un entero, por favor:"))
if X < 0:
  X = 0
  print("negativo cambiando a cero")
elif X == 0:
    print("cero")
elif X == 1:
      print("uno")
else:
  print()

SyntaxError: invalid syntax (ipython-input-128576671.py, line 6)

In [ ]:
x = int(input("ingresa un numero:"))
if x % 2 == 0:
  print("el numero es par.")
else:
    print("el numero es impar")

ingresa un numero:6
el numero es par.

In [ ]:
x = int(input("ingresa un numero:"))
if x % 3 == 0:
  print("el numero es divisible en tres")
else:
  print("el numero no es divisible en tres")

ingresa un numero:9
el numero es divisible en tres

In [ ]:
x = int(input("ingresa un numero:"))
if x % 3 == 0:
  print("el numero es multiplo en tres")
elif x % 3 == 1:
  print("no es multiplo de tres porque el residuo es uno")
else:
  print("no es multiplo de tres porque el residuo es dos")

ingresa un numero:11
no es multiplo de tres porque el residuo es dos

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
import numpy as np
secuencia = np.linspace(0, 10, 100)

In [ ]:
for i in secuencia:
  print(i)

0.0
0.10101010101010101
0.20202020202020202
0.30303030303030304
0.40404040404040403
0.5050505050505051
0.6060606060606061
0.7070707070707071
0.8080808080808081
0.9090909090909091
1.0101010101010102
1.1111111111111112
1.2121212121212122
1.3131313131313131
1.4141414141414141
1.5151515151515151
1.6161616161616161
1.7171717171717171
1.8181818181818181
1.9191919191919191
2.0202020202020203
2.121212121212121
2.2222222222222223
2.323232323232323
2.4242424242424243
2.525252525252525
2.6262626262626263
2.727272727272727
2.8282828282828283
2.929292929292929
3.0303030303030303
3.131313131313131
3.2323232323232323
3.3333333333333335
3.4343434343434343
3.5353535353535355
3.6363636363636362
3.7373737373737375
3.8383838383838382
3.9393939393939394
4.040404040404041
4.141414141414141
4.242424242424242
4.343434343434343
4.444444444444445
4.545454545454545
4.646464646464646
4.747474747474747
4.848484848484849
4.94949494949495
5.05050505050505
5.151515151515151
5.252525252525253
5.353535353535354
5.454545454545454
5.555555555555555
5.656565656565657
5.757575757575758
5.858585858585858
5.959595959595959
6.0606060606060606
6.161616161616162
6.262626262626262
6.363636363636363
6.4646464646464645
6.565656565656566
6.666666666666667
6.767676767676767
6.8686868686868685
6.96969696969697
7.070707070707071
7.171717171717171
7.2727272727272725
7.373737373737374
7.474747474747475
7.575757575757575
7.6767676767676765
7.777777777777778
7.878787878787879
7.979797979797979
8.080808080808081
8.181818181818182
8.282828282828282
8.383838383838384
8.484848484848484
8.585858585858587
8.686868686868687
8.787878787878787
8.88888888888889
8.98989898989899
9.09090909090909
9.191919191919192
9.292929292929292
9.393939393939394
9.494949494949495
9.595959595959595
9.696969696969697
9.797979797979798
9.8989898989899
10.0

In [ ]:
for i in range(-10, -100, -30):
  print(i)

-10
-40
-70

In [ ]:
a = ["mary", "tenia", "un", "corderito"]
for i in range(len(a)):
  print(i, a[i])

0 mary
1 tenia
2 un
3 corderito

In [ ]:
a = ["mary", "tenia", "un", "corderito"]
for i, palabra in enumerate(a):
  print(i, palabra)

0 mary
1 tenia
2 un
3 corderito

In [ ]:
a = ["mary", "tenia", "un", "corderito"]
for i, palabra in enumerate(a):
  print(i, ",", palabra)

0 , mary
1 , tenia
2 , un
3 , corderito

In [ ]:
numeros = [3, 7, 12, 9, 5]
for n in numeros:
  if n == 12:
    print("¡encontrado el numero 12!")
    break
  print(n)

3
7
¡encontrado el numero 12!